<?xml version="1.0"?>
<launch>

  <!-- Run the map server -->
  <arg name="map_file" default="$(find student_pkg)/map_1.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
  
  <arg name="use_map_topic" default="true"/>
  <arg name="scan_topic" default="/scan" />

  <include file="$(find student_pkg)/launch/mapping.launch" />
  <include file="$(find student_pkg)/launch/path_planning.launch" />
</launch>